.artwork {
    display: flex;
    flex-direction: column;
    border: 6px solid #ccc;
    border-radius: 5px;
}

.artwork .drawing {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 6px solid #ccc;
}

.artwork .drawing svg{
    margin: 30px;
}

.artwork .drawing .metadata {
    text-align: center;
    padding: 10px;
}
.artwork .drawing .metadata strong {
    display: block;
}

.artwork .lies {
    display: flex;
    align-items: stretch;
}

.artwork .lies ul {
    list-style: none;
    padding: 0;
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.artwork .lies ul li{
    margin-bottom: 20px;
}