.game-round {
    display: flex;
    flex-direction: column;
}

.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.players .player-portrait {
    margin-bottom: 30px;
}

.drawings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.drawings .artwork {
    margin-left: 30px;
    margin-bottom: 80px;
}