.player-portrait {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 250px;
}

.player-portrait .metadata {
    text-align: center;
    padding: 10px;
    font-size: 1.6em;
}